.navbar{
  background-color: rgb(1, 32, 73);
  color: rgb(255, 255, 255);
}

.nav-link{
  color: rgb(255, 255, 255);
}

.homecard{
 margin-top: 2cm;
 background-color: rgb(1, 32, 73);
 text-align: center;
 margin-bottom: 2cm;
 border-radius: 1cm;
}
.homecardimg{
  border-radius: 1cm;
}
.homecardtext{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(0, 0, 0);
}
.homecardtitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 0.8cm;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
 
}
.box{
  display: inline-block;
}
.sobrecardtitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 0.8cm;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
  
}
.sobrecardtext{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(255, 255, 255);
  font-weight: bold;
}

.cardctt{
  margin-top: 1cm;
  height: 10cm;
  width: 25cm;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.5cm;
}
.cardcttheader{
  background-color: rgb(1, 32, 73);
  color: white;
}
.cardctttext{
 font-style: italic;
}
.emergtexto{
  font-size: 0.7cm;
}
.iinsta{
  color: blueviolet;
  font-size: 20px;
}
.iwpp {
  color: rgb(0, 185, 46);
  font-size: 18px;
}
.iface {
  color: rgb(35, 35, 255);
  font-size: 20px;
}
.iemail {
  font-size: 18px;
}
.iphone {
  font-size: 16px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(1, 32, 73);
  color: rgb(255, 255, 255);
}
.footer .icons {
  justify-content: left;
  margin-left: 15px;
  font-size: 14px;
  margin-top: 0.1cm;
}
.phone{
  text-align: right;
  margin-right: 10px;
  margin-top: -40px;
  font-size: 13px;
}
@media (max-width: 600px) {
  body{
    background-image: url(./images/backg2.jpg);
    overflow-x: hidden;
    background-size: 100% 45cm;
    background-repeat: no-repeat;
  }
  
  .sobrecardtitle{
    margin-top: 1cm;
    color: rgb(1, 32, 73);
    text-shadow: 2px 2px rgb(51, 51, 51);
    text-decoration: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
  .sobretitle{
    width: 100%;
    height: 2.5cm;
  }
  .sobrecardtext{
    margin-top: 1.5cm;
    padding-bottom: 1cm;
  }
  .sobrecardimg{
    width: 20cm;
    height: 25cm;
  }
  .fotosobre{
    margin-right: auto;
    margin-left: auto;
    width: 9cm;
    height: 3.8cm;
  }
  .cardctt{
    margin-top: 1cm;
    height: 12cm;
    width: 9cm;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5cm;
  }
  .cardcttheader{
    background-color: rgb(1, 32, 73);
    color: white;
  }
  .cardctttext{
   font-style: italic;
  }
  .cardlocal{
    margin-top: 1cm;
    margin-bottom: 1cm;
    width: 8cm;
    margin-left: auto;
    margin-right: auto;
  }
  .cardlocalheader{
    background-color: rgb(1, 32, 73);
    color: white;
    font-size: 0.5cm;
  }
  .cardlocaltitle{
    font-size: 0.8cm;
  }
  .cardlocaltext{
    font-size: 0.7cm;
  }
  .cardemerg{
    width: 13cm;
    height: 8cm;
    margin-top: 1cm;
    margin-left: auto;
    margin-right: auto;
  }
  .cardemergimg{
    width: 100%;
    height: 100%;
  }
  .emergtexto{
    background-color: rgb(1, 32, 73);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  
  }
  .cardemergtitle{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(1, 32, 73);
    text-decoration: rgb(1, 32, 73);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.4cm;
    margin-top: 0.7cm;
    text-decoration: underline;
  }
  .list-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5cm;
    margin-top: 1cm;
    width: 10cm;
  }

  .footer .icons {
    font-size: 10px;
    padding-top: 0.3cm;

  }

}
  @media (min-width: 600px) {
    body{
      background-image: url(./images/backg2.jpg);
      overflow-x: hidden;
      background-size: 100% 32cm;
      background-repeat: no-repeat;
    }
    
    .bg-sobre{
      background-image: url(./images/backg2.jpg);
      overflow-x: hidden;
      background-size: 100% 55cm;
      background-repeat: no-repeat;
    }
    .fotosobre{
      margin-right: auto;
      margin-left: auto;
      width: 25cm;
      height: 9.5cm;
    }
    .sobrecardimg{
      width: 100%;
      height:20cm;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1cm;
    }
    .sobrecardtext{
      margin-right: auto;
      margin-left: auto;
      margin-top: 2cm;
    }
    .sobrecardtitle{
      margin-top: 1cm;
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px rgb(82, 82, 82);
      text-decoration: rgb(255, 255, 255);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: rgb(1, 32, 73);
      width: 20cm;
      border-radius: 0.1em;
      margin-left: auto;
      margin-right: auto;

    }
    .sobretitle{
      width: 100%;
    }
    .box1{
      margin-left: 2.1cm;
      border-radius:15px;
      margin-top: -8cm;
    }
    .box2{
      margin-left: 3.5cm;
      border-radius:15px;
      margin-top: 3.5cm;
    }
    .box3{
      margin-left: 2.1cm;
      border-radius:15px;
      margin-top: -13cm;
    }
    .box4{
      margin-left: 3.5cm;
      border-radius:15px;
      margin-top: 1cm;
      margin-bottom: 2cm;
    }
    .cardlocal{
      margin-top: 1cm;
      margin-bottom: 1cm;
      width: 15cm;
      margin-left: auto;
      margin-right: auto;
    }
    .cardlocalheader{
      background-color: rgb(1, 32, 73);
      color: white;
      font-size: 0.5cm;
    }
    .cardlocaltitle{
      font-size: 0.8cm;
    }
    .cardlocaltext{
      font-size: 0.7cm;
    }

    .cardemerg{
      width: 20cm;
      height: 12cm;
      margin-top: 1cm;
      margin-left: auto;
      margin-right: auto;
    }
    .cardemergimg{
      width: 100%;
      height: 100%;
    }
    .emergtexto{
      background-color: rgb(1, 32, 73);
      color: white;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
    
    }
    .cardemergtitle{
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px rgb(1, 32, 73);
      text-decoration: rgb(1, 32, 73);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
      font-size: 1.4cm;
      margin-top: 0.7cm;
      text-decoration: underline;
    }
    .list-group{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -0.5cm;
      margin-top: 1cm;
      width: 15cm;
    }
    .emergtitle{
      font-size: 1cm;
    }
  }

